<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<title>Posting app prototype</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="main.js"></script>
		<script>
		    window.pAsyncInit = function() {
		        PDK.init({
		            appId: "4860573668490625517",
		            cookie: true
		        });
		    };

		    (function(d, s, id){
		        var js, pjs = d.getElementsByTagName(s)[0];
		        if (d.getElementById(id)) {return;}
		        js = d.createElement(s); js.id = id;
		        js.src = "//assets.pinterest.com/sdk/sdk.js";
		        pjs.parentNode.insertBefore(js, pjs);
		    }(document, 'script', 'pinterest-jssdk'));
		</script>
	</head>

	<body ng-controller="AppCtrl as ctrl" class="container">
		<h3>Posting app prototype</h3>
		<ul class="nav nav-tabs">
			<li role="presentation" ng-class="ctrl.activeTab === 1 ? 'active' : ''" class="ctrl.activeTab === 1 ? 'active' : ''"><a ng-click="openTab(1)">Instagram</a></li>
			<li role="presentation" ng-class="ctrl.activeTab === 2 ? 'active' : ''" class="ctrl.activeTab === 1 ? 'active' : ''"><a ng-click="openTab(2)">Pinterest</a></li>
		</ul>
		<div ng-show="ctrl.activeTab === 1">
			<div class="form-group" style="width:300px;padding:10px; background-color:lightblue;">
				<input type="text" placeholder="Enter username" class="form-control" ng-model="ctrl.instagram.username" />
				<input type="password" placeholder="Enter password" class="form-control" ng-model="ctrl.instagram.password" />
				<input type="text" placeholder="Enter photo caption" class="form-control" ng-model="ctrl.instagram.caption" />
				<input type="file" fileread="ctrl.instagram.image" />
				<input type="button "class="btn btn-default" style="margin:30px;" ng-click="doPost()" value="Post!" />
			</div>
		</div>
		<div ng-show="ctrl.activeTab === 2">
			<button ng-if="!ctrl.pinterest.accessToken" class="btn btn-primary" ng-click="pinterestLogin()">Login to Pinterest</button>
			<div ng-if="ctrl.pinterest.accessToken">
				<input type="file" fileread="ctrl.pinterest.image" />
				<button class="btn btn-primary" ng-click="pinButtonClick()">Pin</button>
			</div>
		</div>
	</body>
</html>
